<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.UserMapper">
    <!--查询总条数-->
    <select id="findPagecount" resultType="java.lang.Long">
        select count(*) from tr_user
    </select>
    <!--分页查询-->
    <select id="findPage" resultType="StaffBean">
        <bind name="key_set" value="(currPage-1)*pageSize"></bind>
        select * from tr_user limit ${key_set},${pageSize}
    </select>
    <!--新增-->
    <insert id="insertUser" parameterType="StaffBean">
        insert into tr_user(description_name,user_name,cell_phone,Node_permissions,plate_permissions,remark,status) values (#{descriptionName},#{userName},#{cellPhone},#{nodePermissions},#{platePermissions},#{remark},#{status});
    </insert>
    <!--删除-->
    <delete id="deleteUser" parameterType="String">
        delete from tr_user where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
    <!--回显-->
    <select id="huiUser" resultType="StaffBean" parameterType="Integer">
        select * from tr_user where id = #{id}
    </select>
    <!--修改-->
    <update id="updateUser" parameterType="StaffBean">
        update tr_user set description_name=#{descriptionName},user_name=#{userName},cell_phone=#{cellPhone},Node_permissions=#{nodePermissions},plate_permissions=#{platePermissions},remark=#{remark},status=#{status} where id=#{id}
    </update>
</mapper>