<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../js/bootstrap/css/bootstrap.min.css">
    <script src="../js/bootstraps/bootstrap-paginator.js"></script>
    <script src="../js/vue/vue.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
</head>
<body>
    <div id="app" class="container">
        <table class="table table-bordered">
            <tr>
                <th><input id="selall" type="checkbox"></th>
                <th>用户ID</th>
                <th>商品名称</th>
                <th>姓名</th>
                <th>手机号</th>
                <th>节点权限</th>
                <th>板块权限</th>
                <th>备注</th>
                <th>账户启用状态</th>
                <th>操作</th>
            </tr>
            <tr v-for="user in userList">
                <td><input type="checkbox" name="che" :value="user.id"></td>
                <td>{{user.id}}</td>
                <td>{{user.descriptionName}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.cellPhone}}</td>
                <td>{{user.nodePermissions}}</td>
                <td>{{user.platePermissions}}</td>
                <td>{{user.remark}}</td>
                <td>{{user.status==1?"启用":"不启用"}}</td>
                <td>
                    <a data-toggle="modal" data-target="#editModal" @click="xiu(user.id)">[编辑]</a> |
                    <a @click="shan(user.id)">[删除]</a>
                </td>
            </tr>
        </table>
        <div class="col-md-6">
            <strong>当前第 {{currPage}}页,每页<select style="width:50px;" v-model="pageSize" @change="shuaxin()">
                <option value="3">3</option>
                <option value="6">6</option>
                <option value="10">10</option>
            </select>条,共 {{totalPage}} 页.一共 {{total}} 条记录
            </strong>
        </div>
        <div id="example" style="text-align: right"> <ul id="pageLimit"></ul> </div>
        <div class="modal-dialog" id="ppa">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">添加用户</h3>
                </div>
                <form id="myforms" method="post">
                    <div class="modal-body">
                        <table class="table table-bordered table-striped"  width="800px">
                            <input class="form-control" name="staffId" style="display:none" readonly="readonly" v-model="list.staffId">
                            <tr>
                                <td>员工姓名</td>
                                <td><input class="form-control" type="text" name="staffName" placeholder="姓名" v-model="list.staffName"></td>
                            </tr>
                            <tr>
                                <td>员工部门</td>
                                <td>
                                    <select id="artictsect" class="form-control selectpicker"  data-live-search="true" name="sectionId"/>
                                </td>
                            </tr>
                            <tr>
                                <td>入职日期</td>
                                <td><input class="form-control" type="date" name="time" v-model="list.time"></td>
                            </tr>
                            <tr>
                                <td>员工岗位</td>
                                <td><input class="form-control" type="text" name="staffPost" placeholder="岗位" v-model="list.staffPost"></td>
                            </tr>
                            <tr>
                                <td>员工职责</td>
                                <td><input class="form-control" type="text" name="staffDuty" placeholder="职责" v-model="list.staffDuty"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" onclick="insert()">保存</button>
                        <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                userList: "",
                totalPage:"",
                total:"",
                currPage:"1",
                pageSize:"3"
            }
        })

        //分页查询
        $(function() {
            searchUserList();
            $("#selall").click(
                function(){
                    $("input[name='che']").attr("checked",this.checked);
                })
        })
        function searchUserList(){
            $.ajax({
                url:"/findPage",
                type:"post",
                data:{"currPage":vm.currPage,"pageSize":vm.pageSize},
                dataType:"json",
                success:function(data){
                    vm.userList = data.rows;
                    vm.totalPage = data.totalPage;
                    vm.total = data.total;
                    vm.currPage = data.currPage;
                    vm.pageSize = data.pageSize;
                    setPage(data.currPage,data.totalPage,data.pageSize,searchUserList);
                }
            })
        }
        /**
         *
         * @param pageCurrent 当前所在页
         * @param pageSum 总页数
         * @param callback 调用ajax
         */
        function setPage(pageCurrent, pageSum, pageSize, callback) {
            $('#pageLimit').bootstrapPaginator({
                currentPage: pageCurrent,//当前的请求页面。
                totalPages: pageSum,//一共多少页。
                size:"normal",//应该是页眉的大小。
                bootstrapMajorVersion: 3,//bootstrap的版本要求。
                alignment:"right",
                numberOfPages:pageSize,//一页列出多少数据。
                itemTexts: function (type, page, current) {//如下的代码是将页眉显示的中文显示我们自定义的中文。
                    switch (type) {
                        case "first": return "首页";
                        case "prev": return "上一页";
                        case "next": return "下一页";
                        case "last": return "末页";
                        case "page": return page;
                    }
                },
                //当单击操作按钮的时候, 执行该函数, 调用ajax渲染页面
                onPageClicked: function (event,originalEvent,type,page) {
                    // 把当前点击的页码赋值给currentPage, 调用ajax,渲染页面
                    vm.currPage = page;
                    callback && callback()
                }
            });
        }
    </script>
</body>
</html>